.buysell {
       // background-image: url("./../../images/download.jpg");
 
    //  background-repeat: no-repeat;
      //background-position: center;
      background-size: 100% 100%;
     // opacity: 0.9;
     overflow: hidden;
   
       @mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
//     font-style:italic;
         color: grey !important;
   
    font-weight:100;
}
   
       
}


 ion-input{
     
      color:white;
       font-weight:100;
       
  }
   
     

   
   